
<div class="row">
<div class="col-md-4 mb-3" *ngFor="let card of courses">
  <div class="card h-100">
  <div class="card-header">
        <h2>{{card.heading}}</h2>
  </div>
  <div class="card-body">
    <p>{{card.content}}</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
  <button (click)="OnEditcard(card)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>edit</mat-icon>
        </button>
 <button (click)="OnRemove(card.cardId)" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>
  </div>
</div>
</div>
</div>
